<form>
    <div class="dropdown">
        <div class="form-group">
            <div class="col-md-2">
                <label for="step_count">Process Steps:</label>
                <select class="form-control" id="step_count">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                </select>
            </div>
        </div> 
    </div>
</form>

<!-- Create # of rows in Table based on Dropdown (# of steps) -->
<input type="button" id = "btnAdd" onclick = "AddTable()" value = "Add Table" />
    <hr />
    <table id = "tblContainer" border="0" cellpadding="5" cellspacing="5"></table>
    
    <!-- JavaScript -->
    <script type="text/javascript">
    // https://getbootstrap.com/docs/5.0/components/dropdowns/#via-javascript
    // https://www.aspsnippets.com/Articles/Implement-Dynamic-Table-with-DropDownList-in-HTML-using-JavaScript.aspx
        
        // Pulls in process_steps
        var selected_index = document.getElementById("step_count").form.id;
        
        //function to create table
        function AddTable() {
            if(selected_index > 0)
            {
            var selected_option_value = document.getElementById["step_count"].options[selected_index].value;
            var selected_option_text = document.getElementById["step_count"].options[selected_index].text;
            }
            else
            {
            alert('Please select a number from the drop down list');
            }

            // let process_steps = [
            //     { Step: 1, Action:"Wake up", Safety: "None" },
            //     { Step: 2, Action: "Put on Pants", Country: "Trip Hazard" },
            //     { Step: 3, Action: "Brush teeth", Country: "None" },
            //     { Step: 4, Action: "Drink Coffee", Country: "Burn" }
            // ];
            function generateSOPdata(selected_index){
                for (let element of data){
                    
                }
            }
            
            function generateTableHead(table,data){
                let thead=table.createTHead();
                let row = thead.insertRow();
                for(let key of data){
                    let th=document.createElement("th");
                    let text = document.createTextNode(key);
                    th.appendChild(text);
                    row.appendChild(th);
                }
            }

            function generateTable(table,data){
                for(let element of data){
                    let row = table.insertRow();
                    //Create a Remove Button.
                    var btnRemove = document.createElement("INPUT");
                    btnRemove.value = "Remove";
                    btnRemove.type = "button";
                    btnRemove.onclick = function () {
                        //Determine the reference of the Row using the Button.
                        var row = btnRemove.parentNode.parentNode;
        
                        //Delete the Table row using its Index.
                        tblContainer.deleteRow(row.rowIndex);
                    };
                   
                    for (key in element) {
                        let cell = row.insertCell();
                        let text = document.createTextNode(element[key]);
                        cell.appendChild(text);
                        // cell.appendChild(btnRemove);
                    }
                }
            }

            
            let table=document.querySelector("table");
            let data = Object.keys(process_steps[0]);
            generateTable(table,process_steps);
            generateTableHead(table,data);

            

            
        };
    </script>